:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 10px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;

    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    float: right;
    background-color: var(--accent2-color);
    color: white;

}

.hero article img {
    width: 125px;
    height: auto;

}

.hero article p {

    margin: 0;
}

.socialmedia img {
    width: 30px;
    text-decoration: none;

}

header img {
    width: 100px;
    margin: 20px;
}

header {
    display: grid;
    background-color: var(--primary-color);
    grid-template-columns: 150px 1fr;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

nav ul {

    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.adventure-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.adventure-gallery figure {
    text-align: center;
    width: 150px;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}